*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-ubuntu),  sans-serif;
  background-color: var(--color-background-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
input,
select,
textarea,
button {
  color: var(--color-text-white);
  font-family: var(--font-family-ubuntu),  sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-heading-h1);
}

h2 {
  font-size: var(--font-size-heading-h2);
}

h3 {
  font-size: var(--font-size-heading-h3);
}

p,
span,
input,
textarea,
button {
  font-weight: var(--font-weight-regular);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text-placeholder);
}

textarea {
  resize: vertical;
  max-height: 100px;
}

a {
  text-decoration: none;
}

#page_content {
  padding: 0 1rem;
}
