*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-ubuntu),  sans-serif;
  background-color: var(--color-background-sreen);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
strong,
input,
select,
textarea,
button {
  color: var(--color-text-white);
  font-family: var(--font-family-ubuntu),  sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-heading-h1);
}

h2 {
  font-size: var(--font-size-heading-h2);
}

h3 {
  font-size: var(--font-size-heading-h3);
}

p,
span,
input,
textarea,
button {
  font-weight: var(--font-weight-regular);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text-placeholder);
}

textarea {
  resize: vertical;
  max-height: 100px;
}

a {
  text-decoration: none;
}

#page_content {
  padding: 0 1rem 5rem;
}

.get_method_border,
.get_method_border :nth-child(n) {
  border-color: var(--color-method-get) !important;
}

.post_method_border,
.post_method_border :nth-child(n) {
  border-color: var(--color-method-post) !important;
}

.put_method_border,
.put_method_border :nth-child(n) {
  border-color: var(--color-method-put) !important;
}

.patch_method_border,
.patch_method_border :nth-child(n) {
  border-color: var(--color-method-patch) !important;
}

.delete_method_border,
.delete_method_border :nth-child(n) {
  border-color: var(--color-method-delete) !important;
}

.options_method_border,
.options_method_border :nth-child(n) {
  border-color: var(--color-method-options) !important;
}

.head_method_border,
.head_method_border :nth-child(n) {
  border-color: var(--color-method-head) !important;
}

.get_method_color {
  color: var(--color-method-get) !important;
}
.post_method_color {
  color: var(--color-method-post) !important;
}
.put_method_color {
  color: var(--color-method-put) !important;
}
.patch_method_color {
  color: var(--color-method-patch) !important;
}
.delete_method_color {
  color: var(--color-method-delete) !important;
}
.options_method_color {
  color: var(--color-method-options) !important;
}
.head_method_color {
  color: var(--color-method-head) !important;
}
