.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 17.5rem;
  margin: 3rem auto 0;
  border: none;
  font-size: var(--font-size-button-text);
  font-weight: var(--font-weight-medium);
}

.button_height_big {
  height: 3.75rem;
}

.button_full_width {
  max-width: unset;
  width: 100%;
}

.button_height_medium {
  height: 2.5rem;
}

.button_primary {
  background-color: var(--color-primary);
}

.button_secondary {
  background-color: var(--color-secondary);
}
