.double_inputs_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.875rem;
  width: 100%;
}

.double_inputs_container .big_input {
  flex: 3;
}

.double_inputs_container .small_input {
  flex: 1;
  max-width: 100px;
}
