.edit_api_path_list_container .create_group_button {
  margin-top: 1.75rem;
}

.edit_api_path_list_container .path_group_container {
  margin-top: 2rem;
}

.edit_api_path_list_container .path_group_header {
  display: flex;
}

.edit_api_path_list_container .path_group_name {
  flex: 1;
}

.edit_api_path_list_container .path_group_add,
.edit_api_path_list_container .path_group_edit,
.edit_api_path_list_container .path_item_edit,
.edit_api_path_list_container .path_group_delete,
.edit_api_path_list_container .path_item_delete {
  background-color: var(--color-transparent);
  border: none;
}

.edit_api_path_list_container .path_group_add {
  color: var(--color-success);
}

.edit_api_path_list_container .path_group_edit,
.edit_api_path_list_container .path_item_edit {
  color: var(--color-warn);
}

.edit_api_path_list_container .path_group_delete,
.edit_api_path_list_container .path_item_delete {
  color: var(--color-danger);
}

.edit_api_path_list_container .path_group_add,
.edit_api_path_list_container .path_group_edit {
  margin-right: 0.875rem;
}

.edit_api_path_list_container .path_item_edit {
  margin-right: 0.25rem;
}

.edit_api_path_list_container .path_group_add,
.edit_api_path_list_container .path_group_edit,
.edit_api_path_list_container .path_item_edit,
.edit_api_path_list_container .path_group_delete,
.edit_api_path_list_container .path_item_delete {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: var(--font-size-button-text-small);
}

.edit_api_path_list_container .path_group_add svg,
.edit_api_path_list_container .path_group_edit svg,
.edit_api_path_list_container .path_item_edit svg,
.edit_api_path_list_container .path_group_delete svg,
.edit_api_path_list_container .path_item_delete svg {
  margin-right: 0.25rem;
}

.edit_api_path_list_container .path_item_container {
  margin-top: 0.75rem;
  padding: 0.5rem;
  background-color: var(--color-background-dark);
  border-radius: 0.25rem;
  border-bottom: 0.063rem solid transparent;
}

.edit_api_path_list_container .path_item_header,
.edit_api_path_list_container .path_edit_delete_options {
  display: flex;
  align-items: center;
}

.edit_api_path_list_container .path_item_header {
  cursor: pointer;
}

.edit_api_path_list_container .path_edit_delete_options {
  margin: 1rem 0 1rem 0.5rem;
}

.edit_api_path_list_container .path_method {
  width: 4.875rem;
  margin-right: 0.75rem;
  padding: 0.25rem 1rem;
  border-radius: 0.125rem;
  border: 0.063rem solid transparent;
  text-align: center;
  text-transform: uppercase;
}

.edit_api_path_list_container .path_route {
  margin-right: 1rem;
  font-size: var(--font-size-button-text);
}

.edit_api_path_list_container .path_description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: var(--color-text-placeholder);
  font-size: var(--font-size-button-text-small);
  margin-right: auto;
}

.edit_api_path_list_container .path_content_body {
  margin: 0.25rem 0;
}

.edit_api_path_list_container .path_item_section {
  margin-top: 0.75rem;
  border-bottom: 0.063rem solid transparent;
}

.edit_api_path_list_container .path_item_section_title {
  margin-bottom: 0.5rem;
  color: var(--color-text-white-75);
}

.edit_api_path_list_container .path_item_specification {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.625rem;
  font-size: var(--font-size-text);
  background-color: var(--color-transparent);
  border: none;
}

.edit_api_path_list_container .path_item_specification strong {
  margin-right: 0.5rem;
  font-weight: var(--font-weight-medium);
}

.edit_api_path_list_container .path_item_specification span {
  font-size: var(--font-size-text-small);
  color: var(--color-text-placeholder);
}

.edit_api_path_list_container .path_specification_arrow {
  margin-left: auto;
}

.edit_api_path_list_container .path_item_specification_accordion_content {
  padding-bottom: 0.625rem;
}

.edit_api_path_list_container .path_item_specification_accordion_content span {
  font-size: var(--font-size-text-small);
  color: var(--color-text-placeholder);
}

.edit_api_path_list_container .path_subtitle_container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.edit_api_path_list_container .path_subtitle_container h4 {
  color: var(--color-primary);
}

.edit_api_path_list_container .path_subtitle_container > button,
.edit_api_path_list_container .path_multiple_fields_container button {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--color-transparent);
}

.edit_api_path_list_container .path_subtitle_container > button {
  height: 1.125rem;
  font-size: var(--font-size-text);
}

.edit_api_path_list_container .path_add_select_button,
.edit_api_path_list_container .path_remove_select_button,
.edit_api_path_list_container .path_info_message_button {
  cursor: pointer;
}

.edit_api_path_list_container .path_info_message_button svg {
  margin-right: 0.25rem;
}

.edit_api_path_list_container .path_info_message_button span {
  color: transparent;
  transition: color 200ms;
}

.edit_api_path_list_container .path_info_message_button:hover span {
  color: inherit;
}

.edit_api_path_list_container .path_multiple_fields_container {
  display: flex;
  flex-direction: column;
}

.edit_api_path_list_container .path_select_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.edit_api_path_list_container .path_remove_select_button {
  min-width: 1.5rem;
  color: var(--color-danger);
}

.edit_api_path_list_container .path_select_item > button {
  height: fit-content;
}
