.nav_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.625rem;
  background-color: var(--color-primary);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 25rem;
  height: 100%;
  margin: 0 auto;
}

.nav_item {
  color: var(--color-text-white-50);
}

.nav_item_selected {
  font-weight: var(--font-weight-bold);
  color: var(--color-text-white);
}

@media screen and (min-width: 1280px) {
  .nav_container {
    position: unset;
    margin-top: 0.125rem;
  }
}
